* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDF4;
    font-family: 'Merriweather Sans', sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    padding-left: 40px;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding: 5px 0;
}

h3 {
    padding: 10px 0 5px 0;
    font-weight: 700;
    font-size: 20px;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    padding: 4px 0px;
}

.clearfix {
    clear: both;
}

/* Header styles */

header {
    background-color: #F3752B;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    min-height: 70px;
}

#header h1 {
    float: left;
    line-height: 70px;
}

#header ul {
    font-weight: 400;
    text-align: center;
    list-style: none;
    float: right;
    line-height: 70px;
    margin-right: 40px;
}

#header li {
    display: inline-block;
    width: 100px;
}

#header a {
    color: #EDEDF4;
    text-decoration: none;
}

#header a:hover {
    color: #000;
}

/* Main styles */

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
}

h2.h2background {
    font-family: 'Arimo', sans-serif;
    background-color: #F79D5C;
    text-align: center;
    margin-bottom: 10px;
}

/* Colors */

#colors {
    border: 2px solid #000000;
    margin: 5px;
    padding: 10px;
}

div.color-div {
    border: 1px solid black;
    display: inline-block;
    width: 48%;
    margin: 20px auto;
    padding: 15px;
    min-height: 100px;
}

#ruby-red {
    background-color: #A20021;
    margin-right: 25px;
}

#red-crayola {
    background-color: #F52F57;
}

#sandy-brown {
    background-color: #F79D5C;
    margin-right: 25px;
}

#pumkin {
    background-color: #F3752B;
}

#ghost-white {
    background-color: #EDEDF4;
}

/* Fonts */

#fonts {
    border: 2px solid #000000;
    margin: 50px 5px;
    padding: 10px;
}

#arimo p {
    font-family: 'Arimo', sans-serif;
}

#normal {
    font-weight: 400;
}

#italics {
    font-style: italic;
}

#bold {
    font-weight: 700;
}

/* Text-styles */

#text-styles {
    border: 2px solid #000000;
    margin: 5px;
    padding: 10px;
}

#text-styles h1 {
    padding: 10px 0 5px 0;
}

h2#subheader-h2 {
    margin-top: 10px;
}

#text-styles li {
    margin-left: 20px;
}

#paragraph-style {
    font-weight: 700;
    margin-top: 5px;
}

/* Footer */

footer {
    background-color: #F52F57;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

footer p {
    line-height: 50px;
    margin-left: 10px;
    padding: 0;
    text-align: center;
}



/* Fonts from googlefonts */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/arimo/v17/P5sMzZCDf9_T_10ZxCFuj5-v.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v17/P5sMzZCDf9_T_10ZxCFuj5-v.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v17/P5sdzZCDf9_T_10c3i9MeUcyat4iJY-ERCrDfQAKbbwxjBQ.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjXp8Bte.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjXp8Bte.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Merriweather Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-cM9IRs1JiJN1FRAMjTN5zd9vgsFHXwWDvLBsPDdpWMaq3NzdsFxxN1mLuqtx4.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }